<li class="navbar-text">
</li>
<li class="navbar-text">
    <b>{{ user_email }}</b>
    <span class="badge badge-secondary">{{ offer_counter }} published</span>
    <span class="badge badge-primary">{{ score }} points</span>
    {% if 0 < unread_notifications_counter %}
        <a href="{{ path('notifications') }}"><span class="badge badge-danger">{{ unread_notifications_counter }} notifications</span></a>
    {% endif %}
</li>
